:root{
    --color1:#1D2B53;
    --color2:#7E2553;
    --color3:#FF004D;
    --color4:#FAEF5D;
    --color5:#394872;
}
body{
    font-family: 'Dosis', sans-serif;
    background-color: var(--color1);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
i{
    transform: skew(20deg);
    color: var(--color4);
    font-size: 2.5rem;
}
.navbar{
    background-color:var(--color2) ;
}
.navbar img{
    height: 45px;
    width: auto;
}
input.search{
    background-color: var(--color1);
    color: var(--color4)!important;
    border: 1px solid var(--color3);
}
input.search::placeholder{
    color: var(--color3);
}
input.search:active{
    border: none;
    box-shadow: none;
    background-color: var(--color1);
}
input.search:focus{
    border: none;
    box-shadow: none;
    background-color: var(--color1);
}
/* MAIN */
.card{
    background-color: var(--color5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    cursor:pointer;
    overflow-y: hidden;
}
.card .overview{
    position:absolute;
    bottom:-1000px;
    transition:all 0.5s linear;
    background-color: rgba(57, 72, 114,0.9);
    max-height: 100%;
}
.card .overview h3 {
    border-bottom: 1px solid var(--color2);
    padding: 0.5rem 0.5rem 1rem 1rem;
    color: var(--color3);
}
.card .overview p{
    padding: 0.7rem;
    color: var(--color4);
}
.card:hover .overview{
    bottom: 0;
    overflow-y: auto;
}
h5.card-title{
    color: var(--color3);
}
/* FOOTER */
footer{
    background-color: var(--color2);
    padding: 0.8rem;
}
footer a,
footer p{
    text-decoration: none;
    color:white;
}
footer i{
    font-size: 1.5rem;
}
footer a:hover{
    color: var(--color4);
}
footer p a:hover{
    color: var(--color4);
    text-decoration: underline;
}
