:root{
    --green-color:#136a10;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: var(--green-color);
    font-weight: bold;
}
.content{
    font-size: 20px;
}
.speed{
    position: absolute;
    bottom: 20px;
    background-color: rgba(72, 202, 60, 0.1);
    padding: 20px 40px;
    border-radius: 8px;
}
input{
    width: 50px;
    padding: 5px;
    font-size: 18px;
    border: none;
    border-radius:5px ;
    background-color: var(--green-color);
    text-align: center;
    color: #fff;
}
input:focus{
    outline: none;
}