*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rethink Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
canvas{
    border: 3px solid black;
    border-radius: 10px 10px 0 0;
    margin: 0;
    border-bottom: 0;
}
.toolbar{
    background-color: tomato;
    border: 3px solid black;
    display: flex;
    width: 806px;
    border-top:0;
    border-radius: 0 0 10px 10px;
    padding: 1rem;
}
.toolbar > *{
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 2rem;
    font-family: inherit;
    color: #fff;
    display:inline-flex ;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: .25rem;
    padding: .25rem;
    cursor: pointer;
    transition: color 0.5s ease;
}
.toolbar > *:last-child{
    margin-left: auto;
}
.toolbar button:hover{
    color: #000;
}
.toolbar button:active{
    transform: scale(0.9);
}
button.disabled{
    color: black;
    font-size: 1rem;
}